.product-container{
    border: 1px solid black;
    height: 600px;
    margin: 10px;
    box-shadow: 0 5px 20px rgba(12, 87, 185, 0.801);
}

.products-items-container{
    margin:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: 560px;
    overflow-y: auto;
}

